# Database Configuration
DATABASE_URL=

# JWT Secret Key Configuration
JWT_SECRET=

# Front End Configuration
FRONTEND_URL=

# Google OAuth Key Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github OAuth Key Configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=